@CHARSET "ISO-8859-1";

/* Chargement des differentes polices */
@font-face {
	font-family: 'Caviar_Bold';
	src: url('../font_family/Caviar/Caviar_Dreams_Bold.ttf');
}

@font-face {
	font-family: 'Munro';
	src: url('../font_family/Munro/Munro.ttf');
}

body {
	background-color: #0080FF;
}

/* CSS TOP_PAGE */
#top_page {
	height: 25%;
	width: 100%;
}

/* Connection_container */
#connection_container {
	width: 15%;
	float: left;
	height: 246px;
	font-size: 15px;
	font-family: 'Munro';
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;

}

#connection_container p {
	font-size: 25px;
	margin: 2%;
	text-decoration: none;
	list-style: none;
	color: white;
}

#connection_container div {
	margin: 2%;
}

#connection_container a {
	text-decoration: none;
	color: white;
}

#connection_container input {
	color: black;
}

/*  header container */
#header_container {
	width: 85%;
	height: 246px;
	float: right;
	text-align: center;
	font-size: 50px;
	font-family: 'Munro';
	color: white;
	background-image:url(sky.png);
	background-repeat: repeat;
}



/* content container */
#content_container {
	width: 85%;
	height: 75%;
	float: right;
	background: white;
	font-family: 'Munro';
	margin: 10;
}

.content {
	height:100%;
	padding: 2%;
	overflow: hidden;
	border-style: solid;
	border-width: 27px;
	-moz-border-image: url(brick_block_by_kkiittuuss-d4k5lrp.png) 27 repeat;
	-webkit-border-image: url(brick_block_by_kkiittuuss-d4k5lrp.png) 27 repeat;
	-o-border-image: url(brick_block_by_kkiittuuss-d4k5lrp.png) 27 repeat;
	border-image: url(brick_block_by_kkiittuuss-d4k5lrp.png) 27 fill repeat;
}

/* CSS menu */
#menu {
	float: left;
	font-size: 25px;
	font-family: 'Munro';
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
	width: 15%;	
}

#menu a:hover {
	text-decoration: none;
	text-shadow: none;
}

#menu ul {
	padding-left: 0;
}


#menu .menu-item {
	margin: 5%;
	text-decoration: none;
	list-style: none;
}

#menu .menu-item-selected {
	margin: 5%;
	text-decoration: none;
	list-style: none;
	background-color: white;
	text-shadow: 2px 2px 2px black;
}

#menu .menu-item-selected a {
	color: black;
	text-shadow: none;
}

#menu li:hover {
	background-color: white;
	text-shadow: none;
}

#menu li:hover a {
	color: black;
	text-shadow: none;
}

#menu .menu-link {
	color: white;
	text-decoration: none;
}

/* Edit Page */
#levelContent {
	width: 99%;
	height: 40%;
}

#level {
	display: inline-block;
	width: 75%;
	height:200px;
	overflow: auto;
	cursor: pointer;
	padding-bottom: 5%;
}

#toolBar {
	display: inline-block;
	width: 19%;
	cursor: pointer;
	text-align: center;
	text-indent: 15px;
	font-size: 150%;
	vertical-align: top;
}

#toolBar tr {
	margin: 5px;
	border-bottom: 1px solid black;
}

#confirm {
	padding-top: 1%;
	padding-bottom: 1%;
}

#elementSelect {
	width: 200px;
}

.myButton {
	font-size: 160%;
}

.editCellA {
	width: 24px;
	height: 24px;
	background-color: white;
	border: 1px solid black;
	color: transparent;
}

.editCellB {
	width: 24px;
	height: 24px;
	background-color: blue;
	border: 1px solid black;
	color: transparent;
}

.editCellC {
	width: 24px;
	height: 24px;
	background-color: green;
	border: 1px solid black;
	color: transparent;
}

.editCellD {
	width: 24px;
	height: 24px;
	background-color: black;
	border: 1px solid black;
	color: transparent;
}

.editCellE {
	width: 24px;
	height: 24px;
	background-color: red;
	border: 1px solid black;
	color: transparent;
}

.editCellF {
	width: 24px;
	height: 24px;
	background-color: orange;
	border: 1px solid black;
	color: transparent;
}